.fon {
  height: 100px;
}

.description_block {
  padding: 10px;
}

.mainPhoto {
  max-width: 200px;
}

/* .contacts {

}

.formControl.error input,
.formControl.error textarea {
  border: solid red 1px;
}

.formControl.error span {
  color: red;
} */

.formSummaryError {
  border: red 1px solid;
  padding: 5px;
  color: red;
}